<!-- <mat-sidenav-container>
<mat-sidenav #sidenav>
<app-sidebar (closeSideNav)="sidenav.close()"></app-sidebar>
</mat-sidenav>

<app-header (SideNavToggle)="sidenav.toggle()"> </app-header>
<app-sidebar></app-sidebar>
</mat-sidenav-container>
<router-outlet></router-outlet> -->

<app-header (SideNavToggle)="sidenav.toggle()"></app-header>
<mat-sidenav-container>

  <mat-sidenav #sidenav style="background-color: rgb(232, 232, 232);">
    <app-sidebar (closeSideNav)="sidenav.close()"></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>

    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>