<div class="container-fluid">
    <div class="mainrow">
        <div class="card card-view card-radius px-0">
            <div class="d-flex justify-content-between mt-2 align-items-center px-4">
                <div class="all-acnt">
                    <div class="d-flex align-items-center pt-3 pl-2 ">
                        <h5>Order List - Manufacturing Portal</h5>
                    </div>
                </div>
            </div>
            <div class="d-flex mx-4 my-2">
                <div>
                    <input (keyup)="applyFilter($event)" autocomplete="off" placeholder="Search" #input
                        class="custom-select-img custom-select-sm search-input" />
                </div>
                <div class="px-2 pt-1 mr-auto" style="background-color: rgb(30, 4, 124);color: #fff;">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <div *ngIf="showDropdown && isAdmin">
                    <label class="mt-1 label " style="font-size:18px; color: #005691;">
                        Category Department :
                    </label>
                </div>
                <form [formGroup]="myForm">
                    <div class="align-items-center ml-2" *ngIf="showDropdown && isAdmin">
                        <select class="custom-select custom-select-sm" formControlName="categoryDepartment"
                            (change)="categorySelection($event)">
                            <option value="">--All--</option>
                            <!-- <optgroup *ngFor = 'let grp of individualData' label="{{grp.group}}"> -->
                            <option *ngFor='let item of categoryList' [value]="item">{{item}}</option>
                            <!-- </optgroup> -->
                            <!-- <option *ngFor="let p of partyTypeList"> {{p}}</option> -->
                        </select>
                    </div>
                </form>
                <div>
                    <!-- <mat-form-field appearance="fill"> -->
                    <!-- </mat-form-field> -->
                </div>
                <!-- <div class="ml-3">
    <label class="lbsp mr-2">Tally Pushed Orders</label>
    <mat-slide-toggle (change)="showOrdersInTally()" color="primary"></mat-slide-toggle>
    </div> -->
                <!-- <div class="align-items-center">
    <button type="button" class="btn btnCust1" (click)="changeUserPasswordByAdmin()">
    <i class="fa fa-plus-circle mr-2" aria-hidden="true"></i> 
    Change User Password
    </button>
    </div> -->
            </div>

            <div class="card-body mt-0 pt-0">
                <div class="row tableSet m-0 px-1">

                    <mat-tab-group animationDuration="200ms" [selectedIndex]="selected.value"
                        (selectedIndexChange)="tabSelection($event)">
                        <mat-tab label="Pending Orders">
                            <table mat-table [dataSource]="dataSource" matSort style="font-size: 8px !important;"
                                class="">
                                <!-- Position Column -->
                                <ng-container matColumnDef="orderNumber">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="th"
                                        style="position: static;">Order Id</th>
                                    <td mat-cell *matCellDef="let element" class="td" [ngClass]="getRowClass(element)">
                                        {{element.orderId}} </td>
                                </ng-container>
                                <ng-container matColumnDef="productName">
                                    <th mat-header-cell *matHeaderCellDef class="th"> Product Name</th>
                                    <td mat-cell *matCellDef="let element" class="td" [ngClass]="getRowClass(element)">
                                        {{element.productName }} </td>
                                </ng-container>

                                <ng-container matColumnDef="quantity">
                                    <th mat-header-cell *matHeaderCellDef class="th">Quantity </th>
                                    <td mat-cell *matCellDef="let element" class="td" [ngClass]="getRowClass(element)">
                                        {{element.quantity}} </td>
                                </ng-container>

                                <ng-container matColumnDef="properties">
                                    <th mat-header-cell *matHeaderCellDef class="th">Properties</th>
                                    <td mat-cell *matCellDef="let element" class="td" [ngClass]="getRowClass(element)">
                                        {{element.properties}} </td>
                                </ng-container>

                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef class="th"> Product Status</th>
                                    <td mat-cell *matCellDef="let element; let i = index" class="td"
                                        [ngClass]="getRowClass(element)">

                                        <mat-select class="" (selectionChange)="changeStatus($event, element)"
                                            [(value)]="element.status">
                                            <mat-option value="">--Select--</mat-option>
                                            <!-- <optgroup *ngFor = 'let grp of individualData' label="{{grp.group}}"> -->
                                            <mat-option *ngFor='let item of statusList' [value]="item.value">
                                                {{item.value}}</mat-option>
                                            <!-- </optgroup> -->
                                            <!-- <option *ngFor="let p of partyTypeList"> {{p}}</option> -->
                                        </mat-select>
                                    </td>
                                </ng-container>

                                <!-- <ng-container matColumnDef="label">
    <th mat-header-cell *matHeaderCellDef class="th"> Label </th>
    <td mat-cell *matCellDef="let element" class="td"> {{element.label}} </td>
    </ng-container> -->

                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef class="th"> Actions </th>
                                    <td mat-cell *matCellDef="let element" class="td">
                                        <div class="d-flex justify-content-center">
                                            <!-- <div class="mr-2">
    <button class="btn-none">
    <a (click)="viewOrEdit('view', element)">
    <i _ngcontent-ljj-c23="" aria-hidden="true" class="fa fa-eye"
    style="color:rgb(53, 122, 250)"></i>
    </a>
    </button>
    </div> -->
                                            <div style="margin-top: -2px !important;">
                                                <button class="btn-none">
                                                    <a (click)="openForm('edit', element.userSLAId)">
                                                        <i class="bi bi-pencil-fill "
                                                            style="color:orange;font-size: 10px !important;"></i>
                                                    </a> &nbsp;
                                                </button>
                                            </div>

                                            <div style="margin-top: -2px !important;">
                                                <button class="btn-none">
                                                    <a (click)="deleteById(element.userSLAId)">
                                                        <i class="bi bi-trash "
                                                            style="color:red;font-size: 10px !important;"></i>
                                                    </a> &nbsp;
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns1;sticky:false"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns1;">
                                </tr>
                                <div *ngIf="!this.dataSource.filteredData.length">
                                    No data found.
                                </div>
                            </table>
                            <mat-paginator #paginator class="bg-light" [pageSizeOptions]="[5, 10, 15]"
                                showFirstLastButtons></mat-paginator>
                        </mat-tab>



                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>