body {
    overflow-y: hidden;
    font-family: myFirstFont !important;
}

/* @font-face {
font-family: "myFirstFont";
src: url("../font/Mulish-VariableFont_wght.ttf");
} */
/* @font-face {
font-family: "myFirstFont";
src: url("./font/Mulish-Bold.ttf");
font-weight: bold;
} */
@font-face {
    font-family: "myFirstFont";
    src: url("./font/Mulish-Regular.ttf");
    font-weight: regular;
}

@font-face {
    font-family: "myFirstFont";
    font-weight: medium;
    src: url("./font/Mulish-Medium.ttf");
}

/* my style */

/* my style */



/* table style start */
.inner-table mat-form-field {
    margin-top: 15px;
    width: 100%;
}

tr.mat-header-row {
    height: 36px;
}

tr.mat-row {
    height: 0px;
}

.gray {
    background-color: #f5f5f5
}

.field {
    width: 98%;
    margin: auto;
}

th.mat-header-cell:first-of-type {
    text-align: center !important;
}

td.mat-cell:first-of-type {
    text-align: center !important;
}

td.mat-cell {
    border-bottom: none !important;
}

/* table style end */
.fab-container {
    /* position: fixed; */
    /* bottom: 50px;
right: 50px;
z-index: 999; */
    cursor: pointer;
}

.fab-icon-holder {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #016fb9;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.fab-icon-holder:hover {
    opacity: 0.8;
}

.fab-icon-holder .icon {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    height: 100%;
    font-size: 15px;
    color: #ffffff !important;
}

.fab {
    width: 30px;
    height: 30px;
    background: #d23f31;
}

.fab-options {
    list-style-type: none;
    margin: 0;
    position: absolute;
    z-index: 999;
    bottom: 40px;
    right: 0;
    opacity: 0;
    transition: all 0.3s ease;
    transform: scale(0);
    transform-origin: 85% bottom;
}

.fab:hover+.fab-options,
.fab-options:hover {
    opacity: 1;
    transform: scale(1);
}

.fab-options li {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.fab-label {
    padding: 2px 5px;
    align-self: center;
    user-select: none;
    white-space: nowrap;
    border-radius: 3px;
    font-size: 16px;
    background: #666666;
    color: #ffffff;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    margin-right: 10px;
}


.font {
    font-family: myFirstFont !important;
}

h5 {
    font-weight: bold !important;
    font-size: 17px !important;
    opacity: .8;
}

.pr {
    font-size: 12px !important;
}

.btnSe {
    background-color: #faae22 !important;
    color: #fff !important;
    border-radius: 5px !important;
    border: 1px solid #faae22 !important;
    font-size: 12px !important;
}

.btnSn {
    background-color: #084298 !important;
    color: #fff !important;
    border-radius: 5px !important;
    border: 1px solid #084298 !important;
    font-size: 12px !important;
}

.btnSa {
    background-color: #3f6bfc !important;
    color: #fff !important;
    border-radius: 5px !important;
    border: 1px solid #3f6bfc !important;
    font-size: 12px !important;
}

.btnSr {
    background-color: #fa3022 !important;
    color: #fff !important;
    border-radius: 5px !important;
    border: 1px solid #faae22 !important;
    font-size: 12px !important;
}

.btnSn1 {
    background-color: #1668e4 !important;
    color: #fff !important;
    border-radius: 5px !important;
    border: 1px solid #1668e4 !important;
    font-size: 12px !important;
}

.date {
    margin-top: -0.3rem;
    width: 92% !important;
}

/* .th{background-color: #f5f8fa !important;color:#01487c !important;font-size:12px !important;font-weight: bold !important;text-align: center !important;padding: 0px !important;}

.td{text-align: center !important;font-size:12px !important;font-weight: bold !important;opacity: .9;margin: auto !important;padding-top:8px !important;padding-bottom: 8px !important;} */

.select {
    font-size: 14px !important;
}

.mainrow {
    margin-left: 4.7rem;
    padding-top: 0.8rem;
    font-family: myFirstFont !important;
    height: 90vh !important;
    overflow-y: scroll;
    overflow-x: hidden;
}

.card-view {
    font-family: myFirstFont !important;
    min-height: 85vh !important;
}

/* .card-body{height: 90vh !important;;} */
/* .min-vh-100{min-height: 89vh !important;} */

/* .content-div-start{ width: 96%;margin: auto;}
.content-div-start::-webkit-scrollbar { width: 0 !important }

.card-view .content-div{height:60vh;overflow-y: scroll;}
.content-div::-webkit-scrollbar { width: 0 !important }

.card-view .content-div1{height:80vh;overflow-y: scroll;}
.content-div1::-webkit-scrollbar { width: 0 !important }

.card-view .tableSet{height: 51vh; overflow-y:scroll;}
.card-view .tableSet::-webkit-scrollbar { width: 0 !important }

.card-view .tableSet1{height: 60vh; overflow-y:scroll;}
.tableSet1::-webkit-scrollbar { width: 0 !important }

.card-view .tableSetPd{height: 51vh; overflow-y:scroll;}
.tableSetPd::-webkit-scrollbar { width: 0 !important }

.card-view .tableSetAs{height: 52vh; overflow-y:scroll;}
.tableSetAs::-webkit-scrollbar { width: 0 !important }

.card-view .tableSetEd{height: 53.5vh; overflow-y:scroll;}
.tableSetEd::-webkit-scrollbar { width: 0 !important }

.card-view .tableSetFd{height: 53vh; overflow-y:scroll;}
.tableSetFd::-webkit-scrollbar { width: 0 !important }

.card-view .tableSetFl{height: 53vh; overflow-y:scroll;}
.tableSetFl::-webkit-scrollbar { width: 0 !important }

.card-view .tableSetRd{height: 53vh; overflow-y:scroll;}
.tableSetRd::-webkit-scrollbar { width: 0 !important }

.card-view .tableSetMf{height: 53vh; overflow-y:scroll;}
.tableSetMf::-webkit-scrollbar { width: 0 !important }

.card-view .tableSetWf{height: 57vh; overflow-y:scroll;}
.tableSetWf::-webkit-scrollbar { width: 0 !important }

.card-view .tableSetCt{height:80vh; overflow-y:scroll;}
.tableSetCt::-webkit-scrollbar { width: 0 !important }

.card-view .tableSetPp{height:45vh; overflow-y:scroll;}
.tableSetPp::-webkit-scrollbar { width: 0 !important }

.card-view .tableSetDc{height:45vh; overflow-y:scroll;}
.tableSetDc::-webkit-scrollbar { width: 0 !important }

.card-view .tableSetSc{height:43vh; overflow-y:scroll;}
.tableSetSc::-webkit-scrollbar { width: 0 !important }

.card-view .tableSetBc{height:23vh; overflow-y:scroll;}
.tableSetBc::-webkit-scrollbar { width: 0 !important }

.card-view .tableSetAmc{height:33vh !important; overflow-y:scroll;}
.tableSetAmc::-webkit-scrollbar { width: 0 !important }

.card-view .tableSetBd{height:20vh; overflow-y:scroll;}
.tableSetBd::-webkit-scrollbar { width: 0 !important }

.card-view .tableSetEm{height:59vh; overflow-y:scroll;}
.tableSetEm::-webkit-scrollbar { width: 0 !important }

.card-view .tableSetIn{height:90vh; overflow-y:scroll;}
.tableSetIn::-webkit-scrollbar { width: 0 !important }

.card-view .firstcol{height: 40vh;overflow-y: scroll;}
.firstcol::-webkit-scrollbar{width: 0 !important}

.card-view .secondcol{height: 40vh;overflow-y: scroll;}
.secondcol::-webkit-scrollbar{width: 0 !important}

.card-view .thirdcol{height: 40vh;overflow-y: scroll;}
.thirdcol::-webkit-scrollbar{width: 0 !important}

.card-view .tableSetAmr{height:32vh; overflow-y:scroll;}
.tableSetAmr::-webkit-scrollbar { width: 0 !important }

.card-view .tableSetAm{height:58vh; overflow-y:scroll;}
.tableSetAm::-webkit-scrollbar { width: 0 !important }

.card-view .tableSetAsr{height:61vh; overflow-y:scroll;}
.tableSetAsr::-webkit-scrollbar { width: 0 !important }

.card-view .tableSetMc{height: 32vh; overflow-y:scroll;}
.tableSetMc::-webkit-scrollbar { width: 0 !important }

.card-view .tableSetSg{height: 80vh; overflow-y:scroll;}
.tableSetSg::-webkit-scrollbar { width: 0 !important }

.card-view .tableSetSi{height: 60vh;width:auto; overflow-y:scroll;}
.tableSetSi::-webkit-scrollbar { width: 0 !important }

.card-view .tableSetFt{height: 52vh;width:auto; overflow-y:scroll;}
.tableSetFt::-webkit-scrollbar { width: 0 !important } */

.options {
    height: 70vh;
    overflow-y: scroll
}

.options::-webkit-scrollbar {
    width: 0 !important
}

.tablescroll {
    width: 98%;
    margin: auto;
    height: 40vh;
    overflow-y: scroll;
}

.tablescroll::-webkit-scrollbar {
    width: 0 !important
}

/* .sdC{height: 35vh;overflow-y: scroll;}
.sdC::-webkit-scrollbar { width: 0 !important } */

.main-menu {
    height: 90vh;
    overflow-y: scroll;
}

.main-menu::-webkit-scrollbar {
    width: 0 !important
}

/* .sub-menu1{height: 30vh;overflow-y: scroll;} */
/* .sub-menu1::-webkit-scrollbar { width: 0 !important } */

.sub-menu {
    height: 30vh;
    overflow-y: scroll;
}

.sub-menu::-webkit-scrollbar {
    width: 0 !important
}

.example-container::-webkit-scrollbar {
    width: 0 !important
}

.mat-sort-header-container {
    justify-content: center !important;
    margin: auto !important;
}

.lb {
    font-weight: bold !important;
    font-size: 13px !important;
}

.lbC {
    font-weight: bold !important;
    font-size: 13px !important;
    margin: 0px !important;
    padding: 0px !important;
}

.lbsp {
    font-weight: bold !important;
    font-size: 12px !important;
    font-family: myFirstFont !important;
}

.sp {
    font-size: 12px !important;
    font-weight: bold !important;
    opacity: .9 !important;
}

.lb1 {
    font-weight: bold !important;
    font-size: 12px !important;
}

.lb2 {
    font-weight: bold !important;
    font-size: 12px !important;
}


::ng-deep .card-body {
    padding: 2rem !important;
}

.btnTxt1 {
    padding: 0px 5px !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #007bff !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgb(25 205 194) !important;
}

.btnCust1 {
    background-color: #014A80 !important;
    color: #FFFFFF !important;
    border: none !important;
    border-radius: 5px !important;
    float: right !important;
    text-align: left !important;
    font-size: 12px !important;
}

.btnAR {
    background-color: #166EB2 !important;
    color: #FFFFFF !important;
    padding: 0px !important;
    border: none !important;
    border-radius: 5px !important;
    float: right !important;
    text-align: left !important;
    font-size: 12px !important;
}

.btnEd {
    background-color: orange !important;
    color: #FFFFFF !important;
    padding: 0px !important;
    border: none !important;
    border-radius: 5px !important;
    float: right !important;
    text-align: left !important;
    font-size: 12px !important;
}

.btnOR {
    background-color: #1f91e9 !important;
    color: #FFFFFF !important;
    padding: 0px !important;
    border: none !important;
    border-radius: 5px !important;
    float: right !important;
    text-align: left !important;
    font-size: 12px !important;
}

.btnupload {
    border: 1px solid #014A80 !important;
    color: #014A80 !important;
    border-radius: 5px !important;
    float: right !important;
    text-align: left !important;
    font-size: 12px !important;
}

.btnCust2 {
    background-color: #4077a0 !important;
    color: #FFFFFF !important;
    border: none !important;
    border-radius: 5px !important;
    float: right !important;
    text-align: left !important;
    font-size: 12px !important;
}

.alignToRight {
    float: right;
    text-align: left
}

.span-text-spacing {
    padding: 20px;
}

.required {
    color: red;
}

.backBtn {
    border: none;
    font-family: myFirstFont !important;
    color: #ED953D !important;
    background-color: #FFFFFF;
    cursor: pointer;
    font-weight: semi-bold;
    padding: 15px;
}

.myButton {
    border: none;
    font-family: myFirstFont !important;
    color: #000000 !important;
    background-color: #FFFFFF;
    font-weight: semi-bold;
}

.form-control {
    border-radius: 5px !important;
    background-color: #fff !important;
    border: none !important;
    line-height: 1 !important;
}

.clearBtn {
    background-color: #3277dc !important;
    color: #FFFFFF !important;
    /* font-weight: bold !important; */
    border: none !important;
    border-radius: 12px !important;
}

.subBtn {
    background-color: #084298 !important;
    color: #FFFFFF !important;
    /* font-weight: bold !important; */
    border: none !important;
    border-radius: 5px !important;
}

.subBtn1 {
    background-color: #014A80 !important;
    color: #FFFFFF !important;
    /* font-weight: bold !important; */
    border: none !important;
    border-radius: 5px !important;
    font-size: 12px !important;
}

.btn-none {
    background: none;
    color: inherit;
    border: none;
    padding-right: initial;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.btnStyleOverride {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.iconStylePen {
    border: 1px solid #dee2e6;
    border-radius: 50%;
    background-color: white;
    padding: 7px 10px;
}

.iconStyle {
    border: 1px solid #dee2e6;
    border-radius: 50%;
    background-color: white;
    padding: 7px 12px;
}

.ui-table .ui-paginator-bottom {
    width: auto !important;
}

body .ui-table .ui-sortable-column.ui-state-highlight {
    font-size: 12px !important
}

body .ui-table .ui-table-thead>tr>th {
    font-size: 12px !important;
}

.tableHeaderRow>th {
    background-color: #f5f8fa !important;
}

.tableHeaderRow>tr {
    background-color: #ff0000 !important;
}

.headerDiv {
    width: 100 !important;
    margin-left: 0rem !important;
    margin-bottom: 1.5rem;
}

.headerClass {
    background-color: #f8f8f8 !important;
    padding: 0.5rem !important;
}

.btnClass {
    background-color: #084298 !important;
    border: none !important;
    color: white !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    width: 19rem !important;
    height: 3.5rem !important;
    border-radius: 15rem !important;
}

.iconPlus {
    margin-left: -4.7rem;
    margin-top: -0.1rem;
    font-size: 2.5em !important;
}

.btnText {
    font-style: italic;
}

.cancelBtn {
    color: #FFFFFF !important;
    /* font-weight: bold !important; */
    border: none !important;
    border-radius: 12px !important;
}

.ui-paginator .ui-paginator-left-content {
    margin-left: 35px !important;
}

.mat-paginator,
.mat-paginator-page-size .mat-select-trigger {
    font-family: "myFirstFont";
    font-size: 12px;
}

.fullWidth {
    width: 100%;
}

.fullWidthN {
    width: 92% !important;
}


/* entire container, keeps perspective */
.flip-container {
    perspective: 1000;
}

/* flip the pane when hovered */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
}


/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    box-shadow: -5px 5px 5px #aaa;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    background-color: #FFFFFF;
    border-radius: 15px;
    width: 100%;
}

.d-flexone {
    display: flex;
    justify-content: flex-start;
}

.d-flexone>.div1 {
    text-align: center;
    padding: 2%;
}

.d-flexone>.div2 {
    background-color: #f1f1f1;
    border-radius: 15px;
    width: 90%;
    line-height: 30px;
    text-align: center;
    color: rgb(134, 0, 0);
    font-weight: bold;
}

.d-flextwo {
    display: flex;
    justify-content: space-between;
}

.d-flexthree {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 20px;
}

.d-flexfour {
    display: flex;
    width: 65%;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 20px;
}

.d-flexfive {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
}

.d-flexfive>.div1 {
    padding-top: 10px;
}

/* .contentmiddle{height: 76vh;overflow-y: scroll;} */
.contentmiddleone {
    height: 50vh;
    overflow-y: scroll;
    width: 100%;
}

.contentmiddletwo {
    height: 65vh;
    overflow-y: scroll;
}

.contentmiddlethree {
    height: 30vh;
    overflow-y: scroll;
}

.contentmiddlefour {
    height: 25vh;
    overflow-y: scroll;
}


.td1 {
    text-align: left;
    color: rgb(66, 66, 66);
    font-weight: bold;
}

.td2 {
    text-align: left;
    color: rgb(0, 0, 0);
    padding-left: 10px;
}

.form-control {
    background-color: #ffffff !important;
    border-radius: 5px !important;
    height: 25px !important;
}

.input-group .text {
    color: white !important;
    margin-left: 10px;
}

.fa-university {
    color: #365787 !important;
    font-size: 10px !important;
    margin-right: 20px !important;
}

.card .card-border {
    border-bottom: 25px solid rgb(2, 2, 82);
    height: 150px;
}

.text-cursor {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    padding: 0px 5px 0px 8px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0);
    margin-left: 75px;
    margin-top: -15px;
}

.card-body .align {
    margin-bottom: 10px;
}

.row .recent-card {
    border-radius: 10px;
}

.row .card-inner {
    border-radius: 10px;
}

.highlightErrorField {
    border-bottom: 2px solid #c52e2e !important;
}

.highlightModifiedField {
    border-bottom: 2px solid #3683af !important;
    background-color: red !important;
}